{
  "swagger": "2.0",
  "info": {
    "description": "Rate of births to young adult women ages 18–19 and 20-24 per 1,000 women by race/ethnicity, 2000–2012",
    "version": "1.2.0",
    "title": "Birth Rates",
    "contact": {
      "name": "Kin Lane",
      "email": "kinlane@gmail.com"
    }
  },
  "host": "birthratesimproved.apispark.net",
  "basePath": "/v1",
  "tags": [
    {
      "name": "Birth Rates Improved",
      "description": "Imported from Birth Rates Improved"
    },
    {
      "name": "Default",
      "description": "Default section"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/race/{raceid}": {
      "get": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Loads a race",
        "description": "Loads a race",
        "operationId": "getrace",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "raceid",
            "in": "path",
            "description": "Identifier of the race",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/race"
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      },
      "put": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Stores a race",
        "description": "Stores a race",
        "operationId": "putrace",
        "consumes": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "raceid",
            "in": "path",
            "description": "Identifier of the race",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/race"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/race"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Deletes a race",
        "description": "Deletes a race",
        "operationId": "deleterace",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "raceid",
            "in": "path",
            "description": "Identifier of the race",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/raceandsex/": {
      "get": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Loads a list of raceandsex",
        "description": "Loads a list of raceandsex",
        "operationId": "getRaceandSex",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/raceandsex"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      },
      "post": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Adds a raceandsex",
        "description": "Adds a raceandsex",
        "operationId": "postRaceandSex",
        "consumes": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/raceandsex"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/raceandsex"
            }
          }
        }
      }
    },
    "/raceandsex/{raceandsexid}": {
      "get": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Loads a raceandsex",
        "description": "Loads a raceandsex",
        "operationId": "getRaceandSex",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "raceandsexid",
            "in": "path",
            "description": "Identifier of the raceandsex",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/raceandsex"
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      },
      "put": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Stores a raceandsex",
        "description": "Stores a raceandsex",
        "operationId": "putRaceandSex",
        "consumes": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "raceandsexid",
            "in": "path",
            "description": "Identifier of the raceandsex",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/raceandsex"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/raceandsex"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Deletes a raceandsex",
        "description": "Deletes a raceandsex",
        "operationId": "deleteRaceandSex",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "raceandsexid",
            "in": "path",
            "description": "Identifier of the raceandsex",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/races/": {
      "get": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Loads a list of race",
        "description": "Loads a list of race",
        "operationId": "getraceList",
        "consumes": [],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/race"
              }
            }
          },
          "400": {
            "description": "Error 400"
          }
        }
      },
      "post": {
        "tags": [
          "Birth Rates Improved"
        ],
        "summary": "Adds a race",
        "description": "Adds a race",
        "operationId": "postraceList",
        "consumes": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "application/x-yaml",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/race"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/race"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "HTTP_BASIC": {
      "type": "basic"
    }
  },
  "definitions": {
    "raceandsex": {
      "required": [
        "Characteristics"
      ],
      "properties": {
        "Characteristics": {
          "type": "string",
          "example": "sample Characteristics"
        },
        "Age": {
          "type": "string",
          "example": "sample Age"
        },
        "Y2000": {
          "type": "string",
          "example": "sample Y2000"
        },
        "Y2001": {
          "type": "string",
          "example": "sample Y2001"
        },
        "Y2002": {
          "type": "string",
          "example": "sample Y2002"
        },
        "Y2003": {
          "type": "string",
          "example": "sample Y2003"
        },
        "Y2004": {
          "type": "string",
          "example": "sample Y2004"
        },
        "Y2005": {
          "type": "string",
          "example": "sample Y2005"
        },
        "Y2006": {
          "type": "string",
          "example": "sample Y2006"
        },
        "Y2007": {
          "type": "string",
          "example": "sample Y2007"
        },
        "Y2008": {
          "type": "string",
          "example": "sample Y2008"
        },
        "Y2009": {
          "type": "string",
          "example": "sample Y2009"
        },
        "Y2010": {
          "type": "string",
          "example": "sample Y2010"
        },
        "Y2011": {
          "type": "string",
          "example": "sample Y2011"
        },
        "Y2012": {
          "type": "string",
          "example": "sample Y2012"
        }
      },
      "example": "{\"Characteristics\":\"sample Characteristics\",\"Age\":\"sample Age\",\"Y2000\":\"sample Y2000\",\"Y2001\":\"sample Y2001\",\"Y2002\":\"sample Y2002\",\"Y2003\":\"sample Y2003\",\"Y2004\":\"sample Y2004\",\"Y2005\":\"sample Y2005\",\"Y2006\":\"sample Y2006\",\"Y2007\":\"sample Y2007\",\"Y2008\":\"sample Y2008\",\"Y2009\":\"sample Y2009\",\"Y2010\":\"sample Y2010\",\"Y2011\":\"sample Y2011\",\"Y2012\":\"sample Y2012\"}"
    },
    "race": {
      "required": [
        "Race"
      ],
      "properties": {
        "Race": {
          "type": "string",
          "example": "sample Race"
        },
        "Age": {
          "type": "string",
          "example": "sample Age"
        },
        "Y2000": {
          "type": "string",
          "example": "sample Y2000"
        },
        "Y2001": {
          "type": "string",
          "example": "sample Y2001"
        },
        "Y2002": {
          "type": "string",
          "example": "sample Y2002"
        },
        "Y2003": {
          "type": "string",
          "example": "sample Y2003"
        },
        "Y2004": {
          "type": "string",
          "example": "sample Y2004"
        },
        "Y2005": {
          "type": "string",
          "example": "sample Y2005"
        },
        "Y2006": {
          "type": "string",
          "example": "sample Y2006"
        },
        "Y2007": {
          "type": "string",
          "example": "sample Y2007"
        },
        "Y2008": {
          "type": "string",
          "example": "sample Y2008"
        },
        "Y2009": {
          "type": "string",
          "example": "sample Y2009"
        },
        "Y2010": {
          "type": "string",
          "example": "sample Y2010"
        },
        "Y2011": {
          "type": "string",
          "example": "sample Y2011"
        },
        "Y2012": {
          "type": "string",
          "example": "sample Y2012"
        }
      },
      "example": "{\"Race\":\"sample Race\",\"Age\":\"sample Age\",\"Y2000\":\"sample Y2000\",\"Y2001\":\"sample Y2001\",\"Y2002\":\"sample Y2002\",\"Y2003\":\"sample Y2003\",\"Y2004\":\"sample Y2004\",\"Y2005\":\"sample Y2005\",\"Y2006\":\"sample Y2006\",\"Y2007\":\"sample Y2007\",\"Y2008\":\"sample Y2008\",\"Y2009\":\"sample Y2009\",\"Y2010\":\"sample Y2010\",\"Y2011\":\"sample Y2011\",\"Y2012\":\"sample Y2012\"}"
    }
  }
}
